:root{
  --purple: #3A4EF2;
  --lightCyan: #48FFFF;

  --font-gray: #C4C4C4;
  --font-grayishBlue: #263238;
}

/* ******* */
/* ******* */
/* Format */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}
html{
  box-sizing: border-box;
} 
body{
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}
.wrapper{
  margin: auto;
  width: 80%;
  max-width: 1022px;
}
/* ******* */
/* ******* */

/* ******* */
/* ******* */
/* landing */

#landing{
  background: black;
  min-height: 100vh;
}

/* *************** */
/* landing_content */

.landing_content{
  max-width: 521px;
  width: 100%;
}
.content_title{
  font-weight: bold;
  font-size: 60px;
  line-height: 65px;
  color: #ffffff;

  margin-bottom: 25px;
}
.content_text{
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;

  margin-bottom: 26px;
}
.content_text span{
  color: var(--lightCyan);
}

.content_btn{
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: var(--font-grayishBlue);
  text-align: center;

  display: block;
  padding: 11px 0;
  width: 100%;
  max-width: 290px;
  background-color: var(--lightCyan);
}

/* *************** */
/* *************** */

/* ******* */
/* ******* */
/* ******* */


@media screen and (max-width: 1024px){
  /* ******* */
  /* ******* */
  /* Format */
  .wrapper{
    max-width: 806px;
  }
  /* ******* */
  /* ******* */
}

@media screen and (max-width: 768px){
  /* ******* */
  /* ******* */
  /* Format */
  .wrapper{
    max-width: 516px;
  }
  /* ******* */
  /* ******* */
}