:root {
	--purple: #3a4ef2;
	--lightCyan: #48ffff;

	--font-gray: #c4c4c4;
	--font-grayishBlue: #263238;
}

/* ******* */
/* ******* */
/* Format */
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
}
html {
	box-sizing: border-box;
}
body {
	font-family: "Poppins", sans-serif;
	padding: 0;
	margin: 0;
}
.wrapper {
	margin: auto;
	width: 80%;
	max-width: 1022px;
}
/* ******* */
/* ******* */

/* ******* */
/* ******* */
/* landing */
#landing {
	background: #000000;
	min-height: 100vh;
}

/* *************** */
/* landing_content */

.landing_content {
	max-width: 521px;
	width: 100%;
}
.content_title {
	font-weight: bold;
	font-size: 60px;
	line-height: 65px;
	color: #ffffff;

	margin-bottom: 25px;
}
.content_text {
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #ffffff;

	margin-bottom: 26px;
}
.content_text span {
	color: var(--lightCyan);
}

.content_btn {
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
	color: var(--font-grayishBlue);
	text-align: center;

	display: block;
	padding: 11px 0;
	width: 100%;
	max-width: 290px;
	background-color: var(--lightCyan);
}

/* *************** */

/* ******* */
/* ******* */

/* ******* */
/* ******* */
/* affiliates */
#affiliates {
	text-align: center;
	background-color: #e5e5e5;
	padding: 97px 0;
}

/* *************** */
/* affiliates_text */
.affiliates_text {
	text-align: center;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	color: #999999;

	margin-top: 23px;
}
.affiliates_text span {
	color: #3a4ef2;
}
/* *************** */

/* ******* */
/* ******* */

body {
	padding-bottom: 200px;
}

@media screen and (max-width: 1024px) {
	/* ******* */
	/* ******* */
	/* Format */
	.wrapper {
		max-width: 806px;
	}
	/* ******* */
	/* ******* */

	/* ******* */
	/* ******* */
	/* landing */

	/* *************** */
	/* landing_content */

	/* *************** */

	/* ******* */
	/* ******* */
}

@media screen and (max-width: 768px) {
	/* ******* */
	/* ******* */
	/* Format */
	.wrapper {
		max-width: 516px;
	}
	/* ******* */
	/* ******* */

	/* ******* */
	/* ******* */
	/* landing */

	/* *************** */
	/* landing_content */
	.content_title {
		font-size: 40px;
		line-height: 45px;
	}
	/* *************** */

	/* ******* */
	/* ******* */
}

@media screen and (max-width: 760px) {
	/* ******* */
	/* ******* */
	/* landing */

	/* *************** */
	/* landing_header */

	/* header_logo */
	.logo_text {
		display: none;
	}
	/* *************** */

	/* ******* */
	/* ******* */
}

@media screen and (max-width: 560px) {
	/* ******* */
	/* ******* */
	/* Format */
	.wrapper {
		max-width: initial;
		width: 90%;
	}
	/* ******* */
	/* ******* */

	/* ******* */
	/* ******* */
	/* landing */
	#landing {
		padding-bottom: 70px;
		min-height: initial;
	}

	/* *************** */
	/* landing_header */
	#landing_header {
		background-color: var(--purple);
		margin-bottom: 48px;
		padding: 36px 0;

		position: initial;
	}

	/* header_logo */
	.header_logo {
		justify-content: center;
		width: 100%;
		margin-right: 0;
	}

	/* header_openMenu */
	.header_openMenu {
		display: block;
		position: absolute;
		right: 26px;
		top: 58px;
		margin-top: -17.5px;
		cursor: pointer;
	}

	/* header_containerClose */
	.header_containerClose {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 35px;
		padding-top: 15px;
	}

	.header_container {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: var(--purple);
		padding: 16px 26px;
		/*TODO: :)*/
		display: flex;
		flex-flow: column;
		display: none;
	}

	.open_menu {
		display: flex;
		animation: entrada 0.2s;
	}
	@keyframes entrada {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	.open_menu .header_menu,
	.open_menu .header_options {
		animation: open_animation 0.2s;
	}

	@keyframes open_animation {
		0% {
			transform: translateY(-20px);
		}
		100% {
			transform: translateY(0);
		}
	}
	/* header_menu */
	.header_menu {
		flex-flow: column;
		align-items: flex-start;
	}
	.header_menu li {
		margin-right: 0;
		margin-bottom: 10px;
	}

	/* header_options */
	.header_options {
		position: initial;
		height: initial;
		margin-top: auto;
		background-color: transparent;
	}
	.options_list {
		flex-flow: column;
		max-width: initial;
	}
	.options_list li {
		flex: initial;
		width: 80%;
		max-width: 300px;
	}
	.options_item {
		height: 50px;
		border-radius: 50px;
		font-size: 14px;
		margin-bottom: 15px;
	}
	.options_item-purple {
		background-color: #ffffff;
		color: var(--purple);
	}
	/* *************** */

	/* *************** */
	/* landing_content */
	.content_title {
		font-size: 30px;
		line-height: 35px;
	}
	.content_btn {
		font-size: 16px;
		width: 100%;
		max-width: initial;
	}
	/* *************** */

	/* ******* */
	/* ******* */

	/* ******* */
	/* ******* */
	/* affiliates */

	/* *************** */
	/* affiliates_text */
	.affiliates_text {
		font-size: 16px;
		line-height: 25px;
	}
	/* *************** */

	/* ******* */
	/* ******* */
}
