:root{
  --purple: #3A4EF2;
  --lightCyan: #48FFFF;

  --font-gray: #C4C4C4;
  --font-grayishBlue: #263238;
}

/* ******* */
/* ******* */
/* Format */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}
html{
  box-sizing: border-box;
} 
body{
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}
.wrapper{
  margin: auto;
  width: 80%;
  max-width: 1022px;
}
/* ******* */
/* ******* */

/* ******* */
/* ******* */
/* landing */

#landing{
  background: black;
  min-height: 100vh;
}

/* *************** */
/* landing_content */

.landing_content{
  max-width: 521px;
  width: 100%;
}
.content_title{
  font-weight: bold;
  font-size: 60px;
  line-height: 65px;
  color: #ffffff;

  margin-bottom: 25px;
}
.content_text{
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;

  margin-bottom: 26px;
}
.content_text span{
  color: var(--lightCyan);
}

.content_btn{
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: var(--font-grayishBlue);
  text-align: center;

  display: block;
  padding: 11px 0;
  width: 100%;
  max-width: 290px;
  background-color: var(--lightCyan);
}

/* *************** */

/* ******* */
/* ******* */

/* ******* */
/* ******* */
/* affiliates */
#affiliates{
  text-align: center;
  background-color: #E5E5E5;
  padding: 97px 0;
}

/* *************** */
/* affiliates_text */
.affiliates_text{
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #999999;

  margin-top: 23px;
}
.affiliates_text span{
  color: #3A4EF2;
}
/* *************** */

/* ******* */
/* ******* */

body{
  padding-bottom: 200px;
}


@media screen and (max-width: 1024px){
  /* ******* */
  /* ******* */
  /* Format */
  .wrapper{
    max-width: 806px;
  }
  /* ******* */
  /* ******* */

  /* ******* */
  /* ******* */
  /* landing */

  /* *************** */
  /* landing_content */

  /* *************** */

  /* ******* */
  /* ******* */
}

@media screen and (max-width: 768px){
  /* ******* */
  /* ******* */
  /* Format */
  .wrapper{
    max-width: 516px;
  }
  /* ******* */
  /* ******* */

  /* ******* */
  /* ******* */
  /* landing */

  /* *************** */
  /* landing_content */
  .content_title{
    font-size: 40px;
    line-height: 45px;  
  }
  /* *************** */

  /* ******* */
  /* ******* */
}

@media screen and (max-width: 560px){
  /* ******* */
  /* ******* */
  /* Format */
  .wrapper{
    max-width: initial;
    width: 90%;
  }
  /* ******* */
  /* ******* */

  /* ******* */
  /* ******* */
  /* landing */
  #landing{
    padding-bottom: 70px;
    min-height: initial;
  }
  /* *************** */
  /* landing_content */
  .content_title{
    font-size: 30px;
    line-height: 35px;  
  }
  .content_btn{
    font-size: 16px;
    width: 100%;
    max-width: initial;
  }
  /* *************** */

  /* ******* */
  /* ******* */

  /* ******* */
  /* ******* */
  /* affiliates */

  /* *************** */
  /* affiliates_text */
  .affiliates_text{
    font-size: 16px;
    line-height: 25px;
  }
  /* *************** */

  /* ******* */
  /* ******* */
  
}